
body {
  font-family: Arial;
  background: rgb(227, 222, 230);
}

h1 {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 200, 0);
  text-shadow: none;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 200, 0);
}

h2 {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 200, 0);
  text-shadow: none;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 200, 0);
}

h3 {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 200, 0);
  text-shadow: none;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 200, 0);
}

h4 {
  color: rgb(255, 200, 0);
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  text-align: center;
}

.p1 {  /* Footer */
  color: rgb(255, 200, 0);
  text-align: center;
}


/* the menu bar */
.topnav {
  overflow: hidden;
  background-color: rgb(58, 56, 56);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 200, 0);
}

.topnav a {
  float: left;
  color: rgb(255, 200, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: rgb(227, 222, 230);
  color: rgb(0, 0, 0);;
}

.topnav a.active {
  background-color: #000000;
  color: rgb(255, 200, 0);
}

/* facebook linkedin twitter */
.icon {
  position: fixed;
  top: 50%;
  left: 96%;
  transform: translateY(-50%);
}

.icon a {
  display: block;
  text-align: center;
  padding: 30px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon a:hover {
  background-color: rgb(58, 56, 56);
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

/* Submit Page Style */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #000000;
  color: rgb(255, 200, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000000;
}

.container {
  border-radius: 5px;
  background-color: rgb(130, 130, 130);
  padding: 20px;
}

/* Events Page Style */
.city {
  background-color: rgb(227, 222, 230);
  color: white;
  border-style: solid;
  border-color: rgb(255, 200, 0);
  border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* contact us page */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;    
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 97.5%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 200, 0);
  text-align: center;
  border: 5px solid rgb(255, 200, 0);
  border-radius: 10px;
  border-style: solid;
  padding: 12px 15px;
}

/* images border */
img {
  border: 5px solid rgb(255, 200, 0);
  width:100%;
  border-radius: 10px;
}
